/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 570px;*/
/*    background-color: rgba(0, 0, 0, 0.75);*/
/*    border-radius: 5px;*/
/*    width: 100%;*/
/*    margin: auto;*/
/*    max-width: 450px;*/
/*    padding: 60px 68px 40px;*/
/*    margin-bottom: 100px;*/
/*}*/

/*#filled-basic {*/
/*    color: #c1fffc;*/
/*}*/

.rmdb-searchbar {
    width: 100%;
    height: 18em;
    background: #1c1c1c;
    position: relative;
    padding: 25px 20px 0px 20px;
    box-sizing: border-box;
    color: #fff;
}

.rmdb-searchbar-content {
    max-width: 1280px;
    width: 100%;
    height: 55px;
    background:#353535;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    color: #fff;
}

.rmdb-fa-search {
    position: absolute;
    left: 20px;
    top: 12px;
    color: #fff;
}

.rmdb-searchbar-input {
    font-family: 'Abel', sans-serif;
    font-size: 38px;
    position: relative;
    margin: 8px 0 0 60px;
    border: 0;
    background: transparent;
    height: 40px;
    width: 90%;
    color: #fff;
}

.rmdb-searchbar-input:focus {
    outline: none;
}

/* <select> styles */
.search-select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, rgba(255, 255, 255, 0.2) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    right: 0%;
    padding: 10px;
    margin-top: 3px;
    border-radius: 21px;
    padding-left: 25px;
}

.filter-select {
    position: relative;
    left: 4em;
}

.second-filter-content {
    left: 14em;
}

.search-tag-line {
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    padding-top: 1.1em;
    /*height: 10em;*/
    padding-bottom: 3em;
    /*margin-bottom: 4em;*/
    /*background: #1c1c1c;*/
}

.outside-search {
    height: 6em;
}

.second-filter {
    padding-top: 1.3em;
}

@media screen and (max-width: 720px) {
    .rmdb-searchbar-input {
        margin: 8px 0 0 60px;
        font-size: 28px;
        color: #fff;
    }
    .rmdb-searchbar {
        height: 16em;
    }
    .search-select {
        margin-top: 1.5em;
        width: 100%;
        left: 0;
        /*background: none;*/
    }
    .search-tag-line {
        margin-top: 2em;
    }
    .second-filter-content {
        left: 0;
        width: 100%;
    }
    .outside-search {
        margin-top: 0;
        height: 14em;
        /*display: none;*/
    }
    .first-filter {
        height: 10em;
    }
    .second-filter {
        padding-top: 0;
    }

    .rmdb-heroimage {
        height: 23em;
    }
}


