.row {
  margin-left: 20px;
  color: white;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  cursor: pointer;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row-poster:hover {
  transform: scale(1.08);
}

.row-posterLarge {
  max-height: 250px;
}

.row-posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.movie-content {
  background: linear-gradient(90deg, #000 50%, transparent);
  width: 70%;
  padding-top: 3rem;
  height: 100%;
  padding-left: 5rem;
}

.modal-rating {
  padding-top: 10px;
}
