.row {
  margin-left: 20px;
  color: white;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  /*padding-right: 20px;*/
  cursor: pointer;
  margin-right: 8px;
  /*overscroll-behavior-y: contain;*/
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  object-fit: contain;
  /*width: 100%;*/
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row-poster div:hover {
  transform: scale(1.08);
}


.row-posterLarge {
  max-height: 250px;
}

.row-posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.movie-content {
  background: linear-gradient(90deg, #000 50%, transparent);
  width: 70%;
  padding-top: 3rem;
  height: 100%;
  padding-left: 5rem;
}

.modal-rating {
  padding-top: 10px;
}

:root {
  --handle-size: 3rem;
  --img-gap: .25rem;
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0);
  /*z-index: 10;*/
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9b9b9b;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.handle:hover{
    color: rgba(255, 255, 255, 0.97);
    transform: scale(1.14);
    transition: transform 450ms;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: .3em;

}

.header {
  display: flex;
  justify-content: space-between;
  padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}

@media screen and (max-width: 768px) {
  .handle {
    display: none;
  }
}
