/* ############### Movies Section ############### */
.rating-date-wrapper {
  display: flex;
}

.watch-date {
  margin-left: 45px;
  width: 12.5em;
  color: white;
}

/*.MuiCheckbox-indeterminate {*/
/*  color: aliceblue !important;*/
/*}*/

.css-2ppg0f-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: aliceblue !important;
}
/*.Mui-disabled {*/
/*  !*color: rgba(0, 0, 0, 0.38) !important;*!*/
/*  !*color: white !important;*!*/
/*  !*-webkit-text-fill-color: white !important;*!*/
/*}*/

/*.MuiInputBase-inputAdornedEnd {*/
/*  -webkit-text-fill-color: white !important;*/
/*}*/

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.css-slyssw {
  color: white !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  /*background: #9191918c !important;*/
  color: white !important;
}

/*.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {*/
/*  -webkit-text-fill-color: white !important;*/
/*}*/


 .Mui-error {
  /*border: 1px solid black !important;*/
  color: white !important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.all-slides-wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.slide-title {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .slide-title {
    text-align: center;
  }
}

.all-cards-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
}

@media (max-width: 650px) {
  .all-cards-wrapper {
    flex-direction: column;
  }
}

.card-wrapper:hover {
  transform: scale(1.25);
}

.card-image {
  border: 0;
  width: 100%;
  max-width: 305px;
  cursor: pointer;
  height: auto;
  padding: 0 5px;
}

.card-feature-wrapper {
  padding: 20px;
  background-size: contain;
  position: relative;
  height: 360px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: #1f232a;
  /*padding-top: 30px;*/
}

.card-title {
  color: white;
  max-width: 640px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-description {
  /*color: white;*/
  /*max-width: 500px;*/
  /*font-size: 18px;*/
  /*font-weight: 500;*/
  width: 45rem;
  line-height: 1.8;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 500px;
  /*height: 80px;*/
  font-weight: 500;
  margin-bottom: 30px;

}

.card-feature-close {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}

.card-feature-close img {
  filter: brightness(0) invert(1);
  width: 24px;
}

.player-video {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.player-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
