.form-select {
    width: 150%;
    background: #181818;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    outline-offset: 3px;
    padding: 7px 30px 7px 0;
    /*margin-bottom: 20px;*/
    /*margin-top: 2px;*/
}

.episode-box {
    height: auto;
    min-height: 30px;
    background: #1c1c1c;
    /*border-radius: 20px;*/
    padding: 5px;
    /*text-align: center;*/
}

.episode-box img {
    display: block;
    width: 100%;
    /*height: 150px;*/
    object-fit: cover;
    /*border-radius: 10px;*/
    margin: 0 auto;

}
.episode-box .episode-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.episode-metadata {
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 7px 0;
}

.episode-synopsis {
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.episode-air-date {
    font-size: 14px;
    margin-bottom: 5px;
}

.section-subheader-text {
    color: #a3a3a3;
    white-space: nowrap;
    font-weight: 400;
}

.season-details {
    display: grid;
    grid-template-columns: 30% 50%;
}

.season-option-section {
    display: flow-root;
    margin-bottom: 20px;
}

.react-simple-star-rating-tooltip{
    width: 101px;

}

