/* ############### Global Styles Section ############### */

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  max-width: 2000px;
  margin: auto;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.single-page-nav {
  background-color: #111;
}

.nav-black {
  background-color: #111;
}

.nav-logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.navbar {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.container {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}
.header-logo {
  height: 25px;
}

.container .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .left a {
  color:white;
}

.container .right {
  display: flex;
  align-items: center;
  justify-content: center;
}


.right img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.container .left span {
  margin-right: 20px;
  cursor: pointer;
}

.container .left img {
  margin-right: 35px;
}

.container .right .icon {
  margin: 0px 15px;
  cursor: pointer;
}

.options {
  display: none;
  background-color: black;
  border-radius: 5px;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.profile:hover .options {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.profile .options span {
  padding: 10px;
  cursor: pointer;
}

.options span:hover {
  color: black;
  background-color: #e6e6e6;
}

.single-page-nav {
  position: relative;
}
