.banner {
  color: white;
  object-fit: cover;
  height: 568px;
}

.banner-contents {
  background: linear-gradient(90deg, #1f1e1e 33%, transparent);
  width: 70%;
  padding-top: 9rem;
  height: 100%;
  padding-left: 5rem;
}

.model-banner-contents {
  background: linear-gradient(90deg, #1f1e1e 33%, transparent);
  width: 70%;
  padding-top: 3rem;
  padding-left: 5rem;
  height: 32.5rem;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.banner-description {
  width: 45rem;
  line-height: 1.8;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 425px;
  /* height: 80px; */
  font-weight: 500;
}

.banner-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding: 0.5rem 2rem;
}

.modal-banner-buttons {
  padding: 20px;
}

.banner-button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner-fadeBottom {
  display: none;
  /*height: 7.4rem;*/
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.title-info-metadata-wrapper {
  margin-top: 16px;
}

.title-info-metadata-item {
  color: #a3a3a3;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.title-info-metadata-wrapper .info-spacer {
  color: #a3a3a3;
  margin: 0 4px;
}

.title-info-metadata-item {
  color: #a3a3a3;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.maturity-rating .maturity-number {
  border: 1px solid #a1a1a1;
  padding: 0 5px;
}

.maturity-rating {
  display: inline-block;
}

.title-data-info-item-label {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 5px;
}

.title-data-info-item-list {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.title-info-talent {
  padding-top: 10px;
}
